<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Sitter Now</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="login">
    <h1>Sitter Now</h1>
    <h3 id="intoinfo">Matching Parents with Sitters since 2016</h3>


    <script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
    <script type="text/javascript">
      var lock = new Auth0Lock('k5giYEZqoI9dw7fsNAeTLAU8nBFMpqtZ', 'babysit.auth0.com',  {
        auth: {
          redirectUrl: 'https://sitter-now.herokuapp.com/callback',
          responseType: 'code',
          params: {
            scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
          }
        }
      });
    </script>
    <div id="loginbutton">
      <button onclick="lock.show();">Login or Sign Up</button>
    </div>

  </body>
</html>
