body {
  padding: 60px;
  font-family: 'Playfair Display', serif;
  background-color: white;
}

a {
  color: #00B7FF;
}
h2{
  text-align: center;
}
h3{
  font-size: 34px;
}
input{
  display: inherit;
  padding: 2px;
}
.sitters {
  min-height: 365px;
  text-align: center;
  margin: 28px;
  margin-right: 20px;
}
.requestshere, .matcher{
  height: 485px;
  margin: 30px;
  margin-right: 20px;
  text-align: center;
  background-color: #EBEBEB;
  padding: 15px;
}
.allSitters{
margin: 0 auto;
}
.block label{
  display: block;
  padding: 15px;
  text-align: center;
}
.row {
  text-align: center;
  padding-left: 25px;
}
#intoinfo{
  color: white;
  font-size: 30px;
}
.sitters img{
  max-width: 200px;
  max-height: 120px;
  text-align: center;
}
.requestshere img {
  max-width: 200px;
  max-height: 200px;
}
.matcher img {
  max-width: 320px;
  max-height: 300px;
}

.InputRange-slider{
  background: #243B39;
  border: #345754;
}
.InputRange-track--active{
  background: #91B3B1;
}
.InputRange-label {
  color: black;
  font-size: 9px;
  }

.formField {
  margin-bottom: 5rem;
}
.navbar-default{
  background-color: #91B3B1;
  font-weight: bold;
  border-bottom: 5px solid #243B39;
}
.profile{
  padding: 15px 30px;
}
.profile img{
  max-width: 100%;
}
.containerform{
  padding: 20px 30px;
}


.profile p{
  font-size: 22px;
}
#login{
  text-align: center;
  background-image: url(../images/children.jpg);
  background-size: cover;
}
#login h1{
  color: white;
  font-size: 60px;
}
#loginbutton button{
  background-color: #FAFAF5;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}
.navbar-default .navbar-nav>li>a {
    color: #243B39;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #243B39;
    background-color: #D3E3E2;
}
.navbar-default .navbar-brand {
    color: #243B39;
}


#heading h1{
  font-size: 50px;
  color: #524A4C;
  text-align: center;
  padding-bottom: 35px;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
}
  /*  UPDATED! flip the pane when hovered */
  .flip-container:hover .back {
    transform: rotateY(0deg);
  }
  .flip-container:hover .front {
      transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 320px;
  height: 410px;
}

/* flip speed goes here */
.flipper {
  transition: 0.4s;
  transform-style: preserve-3d;

  position: relative;
}


/* card hell */

.cards > div:nth-child(13n + 1) > div:first-of-type> span {
    background-color: #FF6961;
}
.cards > div:nth-child(13n + 2) > div:first-of-type> span {
    background-color: #98AD9D;
}
.cards > div:nth-child(13n + 3) > div:first-of-type> span {
    background-color: #EDFF86;
}
.cards > div:nth-child(13n + 4) > div:first-of-type> span {
    background-color: #AEC6CF;
}
.cards > div:nth-child(13n + 5) > div:first-of-type> span {
    background-color: #F6C0D0;
}
.cards > div:nth-child(13n + 6) > div:first-of-type> span {
    background-color: #FFF5B2;
}
.cards > div:nth-child(13n + 7) > div:first-of-type> span {
    background-color: #EF8354;
}
.cards > div:nth-child(13n + 8) > div:first-of-type> span {
    background-color: #A9D8B8;
}
.cards > div:nth-child(13n + 9) > div:first-of-type> span{
    background-color: #7D5C65;
}
.cards > div:nth-child(13n + 10) > div:first-of-type> span {
    background-color: #F3C969;
}
.cards > div:nth-child(13n + 11) > div:first-of-type> span {
    background-color: #3A606E;
}
.cards > div:nth-child(13n + 12) > div:first-of-type> span {
    background-color: #736B92;
}
.cards > div:nth-child(13n + 13) > div:first-of-type> span {
    background-color: #7C90DB;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  background-color: grey;
  transition: 0.4s;
  transform-style: preserve-3d;
  margin: 15px;
  padding: 15px;


  position: absolute;
  top: 0;
  left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(-180deg);
}
