body {
  padding: 60px;
  font-family: 'Playfair Display', serif;
  background-color: #FAFAFA;
}


a {
  color: #00B7FF;
}
h2{
  text-align: center;
}
input{
  display: inherit;
  padding: 2px;
}
.sitters, .requesthere, .matcher{
  background-color: #EBEBEB;
  margin: 10px;
  min-height: 350px;
  margin-left: 60px;
}
.allSitters{
margin-left: 100px;
}
.sitters img{
  max-width: 200px;
  max-height: 150px;
  text-align: center;
}
.requestshere img {
  max-width: 200px;
  max-height: 200px;
}
.matcher img {
  max-width: 220px;
  max-height: 200px;
}
.form {
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
  width: 60%;
}
.InputRange-slider{
  background: #243B39;
  border: #345754;
}
.InputRange-label {
  color: black;
  font-size: 9px;
  }

.formField {
  margin-bottom: 5rem;
}
.navbar-default{
  background-color: #C8DBDA;
  font-weight: bold;
  border-bottom: 5px solid #243B39;
}
.profile{
  background-color: #EBEBEB;
}
#login{
  text-align: center;
  background-image: url(../images/children.jpg);
  background-size: cover;
}
#login h1{
  color: white;
  font-size: 60px;
}
#loginbutton button{
  background-color: #FAFAF5;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}
.navbar-default .navbar-nav>li>a {
    color: #243B39;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #243B39;
    background-color: #D3E3E2;
}
.navbar-default .navbar-brand {
    color: #243B39;
}


#heading h1{
  font-size: 50px;
  color: #524A4C;
  text-align: center;
  padding-bottom: 35px;
}
